## To jest mój pierwszy notebook

Ale fajnie. Teraz będę pisać programy w `Pythonie`. Super. Czadowo.
*Ekstra*

A co tam. Bedzie lista.
- cos 1
- cos 2
- cos 3

In [1]:
print("Hello, world!")

Hello, world!

In [3]:
print("234")

234

In [4]:
print(234)

234

In [5]:
print(2 + 2)

4

In [6]:
print("2 + 2")

2 + 2

In [8]:
print(2 - 2) #to też komentarz
# to są komentarze
# shift+enter=play

0

In [10]:
2 + 2
# tylko w Pythonie

4

In [11]:
2 + 2
2 - 2
# wyświetla się tylko ostatnia wartość
# żeby pokazały się obie - print

0

In [18]:
2 * 2 # gwiazdka to dodawanie

4

In [13]:
347689372868 * 723195749815

251447476713980377019420

In [14]:
10 / 2 #dzielenie

5.0

In [15]:
2.2 + 5.5 # ułamki z kropką!

7.7

In [16]:
2,2 + 5,5 # przecinek tworzy zbiór

(2, 7, 5)

In [17]:
2 ** 8 # potęgi

256

In [19]:
10 % 5 # reszta z dzielenia

0

In [20]:
12 % 5

2

In [22]:
439873 % 3 # wychodzi reszta-nie jest podzielne przez 3

1

In [23]:
2 + 2 * 4 # zna kolejność wykonywania działań

10

In [24]:
1 + (15 ** 15 > 150412 * 2) # true = 1
# false = 0

2

In [25]:
True + 1

2

In [26]:
False + 1

1

In [27]:
a = 10
b = 3
c = "ala ma kota"

In [29]:
a #python odwołuje się do wcześniej podanych zmiennych

10

In [30]:
c

'ala ma kota'

In [31]:
a - b

7

In [34]:
b = a + 25 #nowa zmienna

In [33]:
b

35

In [35]:
b = 3

In [36]:
c

'ala ma kota'

In [38]:
c + " a kot ma alę"

'ala ma kota a kot ma alę'

In [39]:
c * 2

'ala ma kotaala ma kota'

In [40]:
b + c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
type (a)  
# typy:
# napisy-str
# liczby całkowite - int
# l. rzeczywiste - float
# wartości logiczne - bool

int

In [42]:
type (b)

int

In [43]:
type (c)

str

In [44]:
type (1.1)

float

In [45]:
type (1.0)

float

In [47]:
type (True)

bool

In [49]:
a = 3
b = 'kalafior'
c = '2'

In [50]:
type (c)

str

In [51]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
a * b

'kalafiorkalafiorkalafior'

In [53]:
b * 2.2

TypeError: can't multiply sequence by non-int of type 'float'

In [54]:
b > 'aline' #kolejność alfabetyczna

True

In [55]:
b > 'zbyszek'

False

In [56]:
b < 123

TypeError: '<' not supported between instances of 'str' and 'int'

In [57]:
c

'2'

In [58]:
type(c)

str

In [59]:
2 + c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [60]:
2 + int(c) #zmiana typu z str na int

4

In [61]:
b

'kalafior'

In [62]:
int(b)

ValueError: invalid literal for int() with base 10: 'kalafior'

In [63]:
str(a)

'3'

In [64]:
a

3

In [65]:
a_string = str(a)
type (a_string)

str

In [66]:
type(str(a))

str

In [69]:
bool (0) # tylko 0 jest nieprawda

False

In [70]:
10 / 2 #we float

5.0

In [71]:
type (10 / 2)

float

In [72]:
int(5.9)

5